<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Parámetros<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{path('proyecto')}}"><i class="fa fa-bank fa-fw"></i>&nbsp; Proyecto</a></li>
        <li><a href="{{path('tiporequerimiento')}}"><i class="fa fa-bank fa-fw"></i>&nbsp; Tipo Item</a></li>
        <li class="divider"></li>
        <li class="dropdown-submenu"> <a href="#"> <i class="fa fa-users fa-fw"></i> Usuarios del Sistema</a> 
            <ul class="dropdown-menu">
                <li><a href="{{path('persona')}}">Personas</a></li>
                <li><a href="{{path('usuario')}}">Usuarios</a></li>
                <li><a href="{{path('rol')}}">Roles</a></li>                                        
            </ul>
        </li> <!-- end li dropdown-submenu-->
         
    </ul>
</li>