{% extends "TrackerBundle::layout.html.twig" %}

{% block title %}Proyecto{% endblock %}

{% block content %}
    <div class="panel panel-default">  
        <div class="panel-heading"><h3 class="panel-title">Proyecto</h3></div>    

        <table class="table table-hover table-condensed table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ proyecto.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Nombre</th>
                    <td>{{ proyecto.nombre }}</td>
                </tr>
                <tr>
                    <th scope="row">Fecha</th>
                    <td>{{ proyecto.fecha|date('Y-m-d') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <form id="delete" action="{{ path('proyecto_delete', {id: proyecto.id}) }}" method="post">
    {{ form_widget(delete_form) }}

    <div class="btn-group record_actions">

        <a class="btn btn-info" href="{{ path('proyecto') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>

        <a class="btn btn-primary" href="{{ path('proyecto_edit', {id: proyecto.id}) }}">
            <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
        </a>

        <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

    </div>

    <input name="modal" type="hidden" value="0">
</form>

<div id="delete_confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                <button class="btn btn-secondary" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
