{% trans_default_domain 'FOSUserBundle' %}

<div class="well well-sm bs-component col-lg-4 col-md-offset-4">
<legend>Cambiar la contraseña</legend>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" role="form" novalidate>

  <div class="form-group">    
    {{ form_errors(form.current_password) }}
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">    
    {{ form_errors(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}      
  </div>  
  <div class="form-group">    
    {{ form_errors(form.plainPassword.second) }}
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}      
  </div>    

    {{ form_rest(form) }}
    <div>  
    <br>      
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>






</div>