
{% form_theme form 'TrackerBundle:Form:fields.html.twig' %}
<button type="button" class="btn btn-default btn-sm filter" data-toggle="collapse" data-target="#filter">{{ 'Show/hide filters'|trans({}, 'admin') }} <i class="fa fa-angle-{{ app.session.get('filter.usuario') ? 'right' : 'down' }}"></i></button>
<div id="filter" class="collapse {% if app.session.get('filter.usuario') %} in{% endif %}">

<div class="well well-sm bs-component col-lg-6">
	    <form method="get" action="">
	    	<div class="row">
	    		{# <div class="col-md-3">{{ form_row(form.apellido) }}</div>
	    		<div class="col-md-3">{{ form_row(form.nombre) }}</div> #}
	    		<div class="col-md-4">{{ form_row(form.usuario) }}</div>
	    	</div>
	        {{ form_rest(form) }}
	        <p class="btn-group">
	            <button class="btn btn-primary btn-sm" type="submit" name="submit-filter"><i class="fa fa-filter"></i> {{ 'Filter'|trans({}, 'admin') }}</button>
	            <a class="btn btn-default btn-sm" href="?reset-filter"><i class="fa fa-times"></i> {{ 'Reset filters'|trans({}, 'admin') }}</a>
	        </p>
	    </form>
	    </div>
	
</div>
<br>
<br>
