{% extends "SeguridadBundle::layout.html.twig" %}
{% block contenido %}

<div class="container">
   <div class="well col-sm-offset-4 col-lg-3">
      <div class="panel-body">
         <form class="form-horizontal" action="{{ path('usuario_reset_password') }}" method="post">
         <div class="form-group"> 
           <label class="control-label required" for="password">{{'_contraseña_actual'|trans}}</label>
           <input class="form-control" type="password" id="actual" name="actual" />
         </div>
         <div class="form-group"> 
           <label class="control-label required" for="password">{{'_contraseña_nueva'|trans}}</label>
           <input class="form-control" type="password" id="nueva" name="nueva" />
         </div>
         <div class="form-group"> 
           <label class="control-label required" for="password">{{'_contraseña_nueva_confirmar'|trans}}</label>
           <input class="form-control" type="password" id="confirmar" name="confirmar" />
         </div>
         <div class="form-group">
           <div class="QapTcha"></div>
         </div> 
         <div class="form-group">
           <div>
            <input type="submit" class="btn btn-primary" value="{{'_cambiar'|trans}}" />
           </div>
         </div>
         </form>
      </div>    
   </div>   
</div>

{% endblock %}
