<div class="fondoBlanco">
  <span class="pull-left">
      <img class="imgLogoHome" src="{{asset('bundles/politica/images/logo_izq.png')}}" />
  </span>
  <span class="offset2">
       <img class="imgLogoHome" src="{{asset('bundles/politica/images/'~logo)}}" title="{{title}}" alt="{{title}}"/>
  </span>
  <span class="pull-right">
      <img class="imgLogoHome" src="{{asset('bundles/politica/images/logo_der.png')}}"/>
  </span>
</div>	

